#notebook {
	font-family: philosopher-bold;
	width: 1529px;
	height: 797px;
	position: absolute;
	left: 255px;
	bottom: 40px;
}

#sulan-academy-left-blue {
	width: 643px;
	height: 728px;
	position: absolute;
	z-index: 1;
	bottom: 13px;
	left: 0;
}

.title-text-container {
	font-family: philosopher-bold;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2px;
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 2;
}

.small-text {
	color: rgb(169, 186, 255);
	font-size: 50px;
	z-index: 2;
	text-align: right;
}

.large-text {
	color: rgb(169, 186, 255);
	font-size: 80px;
	z-index: 2;
	text-align: right;
	font-weight: bold;
}

#mon-container {
	font-family: barlow-regular;
	box-sizing: border-box;
	width: 941px;
	height: 111px;
	position: relative;
	margin-top: 15px;
	padding-left: 190px;
	font-size: 27px;
}

#mon-swiper {
	position: relative;
	z-index: 2;
	width: 750px;
	overflow: hidden;
}

#mon-container *[lang="cn"] {
	font-family: chinese-1;
}

:is(#mon-container, #nghe-container) a {
	text-decoration: none;
	position: relative;
	color: rgb(111, 125, 188);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-shrink: 0;
	box-sizing: border-box;
	padding-top: 5px;
}

.mon-img,
.nghe-img {
	width: 68px;
	height: 68px;
	position: relative;
}

.sulan-title {
	font-family: philosopher-bold;
	color: rgb(111, 125, 188);
	max-width: 150px;
	position: absolute;
	top: 50%;
	left: 10px;
	translate: 0 -50%;
	font-size: 40px;
	z-index: 1;
}

.sulan-title[lang="cn"] {
	font-size: 62px;
}

#nghe-container {
	font-family: barlow-regular;
	box-sizing: border-box;
	width: 941px;
	height: 111px;
	position: relative;
	margin-top: 15px;
	padding-left: 190px;
	font-size: 27px;
}

#nghe-swiper {
	position: relative;
	z-index: 2;
	width: 750px;
	overflow: hidden;
}

#nghe-container *[lang="cn"] {
	font-family: chinese-1;
}

#guide-container {
	width: 950px;
	height: 382px;
	margin-top: 20px;
	/* outline: 1px solid red; */
	overflow: hidden;
	position: absolute;
	right: 0;
}

#guide-container .swiper-slide {
	width: 310px !important;
	height: 382px !important;
}

.sulan-slide-text-container {
	width: 200px;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 24px;
	left: 50%;
	translate: -50% 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.sulan-slide-small-text {
	font-size: 18px;
}

.sulan-slide-large-text {
	font-size: 48px;
}

.guide-hover-container {
	background-image: url("./assets/guide_hover.png");
	width: 298px;
	height: 374px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.swiper-slide img {
	transition-property: opacity;
	transition-delay: 150ms;
	transition-duration: 200ms;
}
.swiper-slide:hover img {
	opacity: 0.5;
}

.guide-hover-container .see-more {
	font-family: barlow-medium;
	color: rgb(85, 100, 175);
	font-size: 20px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	translate: -50% 0;
}

.guide-link-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: absolute;
	left: 20px;
	top: 30px;
	height: 250px;
	width: 260px;
	box-sizing: border-box;
	padding-right: 5px;
	overflow-y: scroll;
}

.guide-link-container a {
	color: rgb(88, 100, 175);
	font-family: barlow-medium;
	font-size: 26px;
	position: relative;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding-left: 20px;
	box-sizing: border-box;
}

.guide-link-container a::before {
	content: "";
	background-image: url("./assets/guide_hover_bullet.png");
	width: 11px;
	height: 11px;
	position: absolute;
	left: 0;
}
